@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

@media (max-width: 991px) {
    .rounded-sm {
        border-radius: 0.25rem !important;
    }
}

@media (min-width: 992px) {
    .rounded-end {
        border-radius: 0 0.25rem 0.25rem 0;
    }
}

:root {
    --purple-color: #A302F9;
    --blue-color: #bec6e0;
}

ul {
    list-style: none;
}

.no-scroll {
    overflow: hidden;
}

w-25 {
    width: 25% !important;
}
w-50 {
    width: 50% !important;
}
w-75 {
    width: 75% !important;
}
w-100 {
    width: 100% !important;
}
vw-25 {
    width: 25vw !important;
}
vw-50 {
    width: 50vw !important;
}
vw-75 {
    width: 75vw !important;
}
vw-100 {
    width: 100vw !important;
}

h-25 {
    height: 25% !important;
}
h-50 {
    height: 50% !important;
}
h-75 {
    height: 75% !important;
}
h-100 {
    height: 100% !important;
}
vh-25 {
    height: 25vh !important;
}
vh-50 {
    height: 50vh !important;
}
vh-75 {
    height: 75vh !important;
}
vh-100 {
    height: 100vh !important;
}