#sidebar {
    width: 65px;
    height: 200%;
}
#sidebar img {
    width: 60px;
}
#sidebar ul li img {
    width: 35px;
}

.sidebar-open {
    animation: sopen 1s ease-in-out;
}

.sidebar-close {
    animation: sclose 0.5s ease-in-out;
}

@keyframes sopen {
    0% {
        width: 65px;
    }
    100% {
        width: 200px;
    }
}
@keyframes sclose {
    0% {
        width: 200px;
    }
    100% {
        width: 65px;
    }
}

.hidden {
    display: none;
}